In [7]:
import pandas as pd
from pandas import Series , DataFrame
import numpy as np

In [8]:
nfl_frame = pd.read_clipboard()

In [9]:
nfl_frame

,年度,所属球団,試合,打席,打数,得点,安打,二塁打,三塁打,本塁打,...,盗塁刺,犠打,犠飛,四球,死球,三振,併殺打,打率,長打率,出塁率
0,2012,東京ヤクルト,26,49,44,5,11,2,0,1,...,0,0,0,5,0,11,0,0.250,0.364,0.327
1,2013,東京ヤクルト,94,396,350,50,99,13,2,3,...,2,3,3,39,1,37,6,0.283,0.357,0.354
2,2014,東京ヤクルト,143,685,596,106,193,39,1,29,...,5,2,5,74,8,95,10,0.324,0.539,0.403
3,2015,東京ヤクルト,143,646,557,119,183,39,2,38,...,4,0,3,81,5,111,11,0.329,0.610,0.416
4,2016,東京ヤクルト,133,590,481,102,146,26,3,38,...,2,0,4,97,8,101,16,0.304,0.607,0.425
5,2017,東京ヤクルト,143,624,526,79,130,25,1,24,...,4,0,1,91,6,132,15,0.247,0.435,0.364
6,2018,東京ヤクルト,140,637,524,130,165,30,4,34,...,4,0,3,106,4,119,8,0.315,0.582,0.432
7,2019,東京ヤクルト,142,641,520,102,141,35,5,35,...,3,0,5,110,6,121,14,0.271,0.560,0.401

In [10]:
nfl_frame.columns

Index(['年度', '所属球団', '試合', '打席', '打数', '得点', '安打', '二塁打', '三塁打', '本塁打', '塁打',
       '打点', '盗塁', '盗塁刺', '犠打', '犠飛', '四球', '死球', '三振', '併殺打', '打率', '長打率',
       '出塁率'],
      dtype='object')

In [11]:
nfl_frame['本塁打']

0     1
1     3
2    29
3    38
4    38
5    24
6    34
7    35
Name: 本塁打, dtype: int64

In [12]:
nfl_frame.試合

0     26
1     94
2    143
3    143
4    133
5    143
6    140
7    142
Name: 試合, dtype: int64

In [13]:
nfl_frame[['本塁打','長打率']]

   本塁打    長打率
0    1  0.364
1    3  0.357
2   29  0.539
3   38  0.610
4   38  0.607
5   24  0.435
6   34  0.582
7   35  0.560

In [14]:
DataFrame(nfl_frame,columns=['年度','本塁打', '球場','セフレ'])

     年度  本塁打  球場  セフレ
0  2012    1 NaN  NaN
1  2013    3 NaN  NaN
2  2014   29 NaN  NaN
3  2015   38 NaN  NaN
4  2016   38 NaN  NaN
5  2017   24 NaN  NaN
6  2018   34 NaN  NaN
7  2019   35 NaN  NaN

headメソッドはデータフレームの上からのデータを取得することができる、デフォルトは5行、引数に数字を取ることも可能

In [15]:
nfl_frame.head(5)

,年度,所属球団,試合,打席,打数,得点,安打,二塁打,三塁打,本塁打,...,盗塁刺,犠打,犠飛,四球,死球,三振,併殺打,打率,長打率,出塁率
0,2012,東京ヤクルト,26,49,44,5,11,2,0,1,...,0,0,0,5,0,11,0,0.250,0.364,0.327
1,2013,東京ヤクルト,94,396,350,50,99,13,2,3,...,2,3,3,39,1,37,6,0.283,0.357,0.354
2,2014,東京ヤクルト,143,685,596,106,193,39,1,29,...,5,2,5,74,8,95,10,0.324,0.539,0.403
3,2015,東京ヤクルト,143,646,557,119,183,39,2,38,...,4,0,3,81,5,111,11,0.329,0.610,0.416
4,2016,東京ヤクルト,133,590,481,102,146,26,3,38,...,2,0,4,97,8,101,16,0.304,0.607,0.425

tailメソッドではデータフレームのデータを下から取得することが可能

In [16]:
nfl_frame.tail(10)

,年度,所属球団,試合,打席,打数,得点,安打,二塁打,三塁打,本塁打,...,盗塁刺,犠打,犠飛,四球,死球,三振,併殺打,打率,長打率,出塁率
0,2012,東京ヤクルト,26,49,44,5,11,2,0,1,...,0,0,0,5,0,11,0,0.250,0.364,0.327
1,2013,東京ヤクルト,94,396,350,50,99,13,2,3,...,2,3,3,39,1,37,6,0.283,0.357,0.354
2,2014,東京ヤクルト,143,685,596,106,193,39,1,29,...,5,2,5,74,8,95,10,0.324,0.539,0.403
3,2015,東京ヤクルト,143,646,557,119,183,39,2,38,...,4,0,3,81,5,111,11,0.329,0.610,0.416
4,2016,東京ヤクルト,133,590,481,102,146,26,3,38,...,2,0,4,97,8,101,16,0.304,0.607,0.425
5,2017,東京ヤクルト,143,624,526,79,130,25,1,24,...,4,0,1,91,6,132,15,0.247,0.435,0.364
6,2018,東京ヤクルト,140,637,524,130,165,30,4,34,...,4,0,3,106,4,119,8,0.315,0.582,0.432
7,2019,東京ヤクルト,142,641,520,102,141,35,5,35,...,3,0,5,110,6,121,14,0.271,0.560,0.401

In [19]:
nfl_frame.loc[5]

年度        2017
所属球団    東京ヤクルト
試合         143
打席         624
打数         526
得点          79
安打         130
二塁打         25
三塁打          1
本塁打         24
塁打         229
打点          78
盗塁          14
盗塁刺          4
犠打           0
犠飛           1
四球          91
死球           6
三振         132
併殺打         15
打率       0.247
長打率      0.435
出塁率      0.364
Name: 5, dtype: object

In [18]:
pd.__version__

'1.0.0'

In [20]:
nfl_frame['セフレ'] = '永野芽納'

In [21]:
nfl_frame

,年度,所属球団,試合,打席,打数,得点,安打,二塁打,三塁打,本塁打,...,犠打,犠飛,四球,死球,三振,併殺打,打率,長打率,出塁率,セフレ
0,2012,東京ヤクルト,26,49,44,5,11,2,0,1,...,0,0,5,0,11,0,0.250,0.364,0.327,永野芽納
1,2013,東京ヤクルト,94,396,350,50,99,13,2,3,...,3,3,39,1,37,6,0.283,0.357,0.354,永野芽納
2,2014,東京ヤクルト,143,685,596,106,193,39,1,29,...,2,5,74,8,95,10,0.324,0.539,0.403,永野芽納
3,2015,東京ヤクルト,143,646,557,119,183,39,2,38,...,0,3,81,5,111,11,0.329,0.610,0.416,永野芽納
4,2016,東京ヤクルト,133,590,481,102,146,26,3,38,...,0,4,97,8,101,16,0.304,0.607,0.425,永野芽納
5,2017,東京ヤクルト,143,624,526,79,130,25,1,24,...,0,1,91,6,132,15,0.247,0.435,0.364,永野芽納
6,2018,東京ヤクルト,140,637,524,130,165,30,4,34,...,0,3,106,4,119,8,0.315,0.582,0.432,永野芽納
7,2019,東京ヤクルト,142,641,520,102,141,35,5,35,...,0,5,110,6,121,14,0.271,0.560,0.401,永野芽納

In [22]:
del nfl_frame['セフレ']

In [23]:
nfl_frame

,年度,所属球団,試合,打席,打数,得点,安打,二塁打,三塁打,本塁打,...,盗塁刺,犠打,犠飛,四球,死球,三振,併殺打,打率,長打率,出塁率
0,2012,東京ヤクルト,26,49,44,5,11,2,0,1,...,0,0,0,5,0,11,0,0.250,0.364,0.327
1,2013,東京ヤクルト,94,396,350,50,99,13,2,3,...,2,3,3,39,1,37,6,0.283,0.357,0.354
2,2014,東京ヤクルト,143,685,596,106,193,39,1,29,...,5,2,5,74,8,95,10,0.324,0.539,0.403
3,2015,東京ヤクルト,143,646,557,119,183,39,2,38,...,4,0,3,81,5,111,11,0.329,0.610,0.416
4,2016,東京ヤクルト,133,590,481,102,146,26,3,38,...,2,0,4,97,8,101,16,0.304,0.607,0.425
5,2017,東京ヤクルト,143,624,526,79,130,25,1,24,...,4,0,1,91,6,132,15,0.247,0.435,0.364
6,2018,東京ヤクルト,140,637,524,130,165,30,4,34,...,4,0,3,106,4,119,8,0.315,0.582,0.432
7,2019,東京ヤクルト,142,641,520,102,141,35,5,35,...,3,0,5,110,6,121,14,0.271,0.560,0.401

辞書からデータフレームを作ることが可能

In [24]:
data = {'名前': ['tomoaki','takahiro','takashi'],'打率':[.302,.299,.089]}

In [25]:
data

{'名前': ['tomoaki', 'takahiro', 'takashi'], '打率': [0.302, 0.299, 0.089]}

In [26]:
tigers_dataframe = DataFrame(data)

In [27]:
tigers_dataframe

         名前     打率
0   tomoaki  0.302
1  takahiro  0.299
2   takashi  0.089