In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe_wine = pd.read_csv('winequality-red.csv',sep=';')

In [4]:
def ranker(df):
    df['alc_content_rank'] = np.arange(len(df)) + 1
    return df

In [8]:
dframe_wine.sort_values('alcohol',ascending=False,inplace=True)

# ascendingは数字の並び順 Falseは降順、Trueは昇順
# inplaceはデータを書き換えるかどうか

In [10]:
dframe_wine = dframe_wine.groupby('quality').apply(ranker)

# 元のワインのデータフレームを['quality']で分割して、その分割したデータフレームをranker()に入れて、アルコール度数のランキングのデータをマージして、データフレームを返している

In [11]:
dframe_wine

      fixed acidity  volatile acidity  ...  quality  alc_content_rank
652            15.9              0.36  ...        5                 1
588             5.0              0.42  ...        8                 1
142             5.2              0.34  ...        6                 1
144             5.2              0.34  ...        6                 2
1270            5.0              0.38  ...        6                 3
...             ...               ...  ...      ...               ...
371             7.9              0.24  ...        6               636
528             8.2              0.42  ...        6               637
1436           10.0              0.38  ...        5               681
544            14.3              0.31  ...        6               638
517            10.4              0.61  ...        3                10

[1599 rows x 13 columns]

In [12]:
num_of_qual = dframe_wine['quality'].value_counts()

In [13]:
num_of_qual

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [15]:
dframe_wine[dframe_wine.alc_content_rank==1]

     fixed acidity  volatile acidity  ...  quality  alc_content_rank
652           15.9              0.36  ...        5                 1
588            5.0              0.42  ...        8                 1
142            5.2              0.34  ...        6                 1
821            4.9              0.42  ...        7                 1
45             4.6              0.52  ...        4                 1
899            8.3              1.02  ...        3                 1

[6 rows x 13 columns]